<div class="row">
  
  <div class="col-md-6">
    <% @order.order_items.each do |item| %>
    <div class="thumbnail">
      <%= image_tag "products/#{item.product.image_url}" %>
    </div>
    <h3><%= item.product.title %></h3>
    <h3><%= item.product.price %></h3>
    </div>
  <% end %>
  
  
<div class="col-md-10">

<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div id="stripe-error" class="alert alert-danger" style="display: none">
  <noscript>JavaScript is not enabled and is required for this form. 
  First enable it in your web browser settings.</noscript>
  </div>
  
  

<h4>Input your User Information:</h4>
  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, autocomplete: true, id: :order_user_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.text_field :status, autocomplete: true, id: :order_status, class: "form-control" %></br>
  </div>
  
  <!-- just added from base rails -->
<h4>Input you Address:</h4>
  <div class="form-group">
    <%= form.label :street %>
    <%= form.text_field :street, id: :order_street, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, id: :order_city, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label :state %>
    <%= form.text_field :state, id: :order_state, class: "form-control" %></br>
  </div>
 
<h4>Input your Credit Card Info:</h4> 
  <div class="form-group">
    <div class"row">
      <div class="col-md-8">
            <%= label_tag :card_number, "Credit Card Number" %>
            <%= text_field_tag :card_number, nil, { :name => nil, :'data-stripe' => "number", class: "form-control" } %>
    </div>
    <div class="col-md-4">
          <%= label_tag :card_code, "CVC" %>
          <%= text_field_tag :card_code, nil, { :name => nil, :'data-stripe' => "cvc", class: "form-control" } %>
        </div>
      </div>
    </div>
  
  <div class="form-group">
    <%= label_tag nil, "Expiration Date" %>
    <div class="row">
      <div class="col-md-3">
          <%= select_month nil, { use_two_digit_numbers: true }, { :name => nil, :'data-stripe' => "exp-month", class: "form-control" } %>
      </div>
      <div class="col-md-3">
          <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+10 }, { :name => nil, :'data-stripe' => "exp-year", class: "form-control" } %>
      </div>
    </div>
  </div>
  

  <div class="form-group">
    <%= form.submit "Complete Order", class: "btn btn-success" %>
  </div>
<% end %>

  </div>
</div>
