<h1>Your Shopping Cart</h1>

<table>
  <tr>
  <th><strong>Customer:</strong></th>
  <td><%= current_user.name %></td>
</tr>

<tr>
  <th>Status:</th>
  <td><%= @order.status %></td>
</tr>

<tr>
  <th>Items:</th>
  <td>Item Count: <%= @order.order_items.count %></td>
</tr>

</table>

<table id= "products" style="margin-left: 30px; border-collapse: collapse;" border="0"; cellspacing="0";>
<thead>
<tr>
    <th>Image</th>
    <th>Product Name</th>
    <th>Color</th>
    <th>Size</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Remove</th>
</thead>  

  <tbody style="border-left: 0px none; border-right: 0px none;">
  
  
  <% @order.order_items.each do |item| %>
</tr>
      <td><%= image_tag "products/#{item.product.image_url}" %></td>
      <td> <%= item.product.title %></td>
      <td> <%= item.product.color %></td>
      <td> <%= item.product.size %></td>
      <td> <%= link_to item.quantity, edit_order_item_path(item) %> </td>
      <td> <%= item.product.price %></td>
      <td><%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  <% end %>
</tbody>
</table>


<hr>

<h4>SUBTOTAL</h4>
<p>EXCLUDING TAX & SHIPPING: </p>

  <% @order.order_items.each do | item | %>
  <%= print_price item.subtotal %> + 
  <% end %>
  
<br>
  
  
<h4>Order Total:</h4>
 <%= print_price @order.total %>
 

<h4>Promo Code? </h4> 
<form name="myform" id="myform" action="action.php">
    <input type="text" name="promo" class="form-control"><br>
</form>

<!-- script>
    var myform = document.getElementById('myform');
      myform.onsubmit = function(){ 
                    document.getElementById('myInput').value = < @order.total %> -* 'myInput';
                    myform.submit();
    };
</script -->

 
<hr>


<!--  link_to "Complete Your Order", new_order_path(@product), class: "btn btn-primary" % -->


<div id="paypal-button"></div>


<script type="text/javascript" charset="utf-8">
    paypal.Button.render({

        env: 'sandbox',
        
        style: {
            label: 'checkout',
            size:  'small',    // small | medium | large | responsive
            shape: 'pill',     // pill | rect
            color: 'gold'      // gold | blue | silver | black
        },

        client: {
            sandbox:    'AV3povgGsPG7P9PiVL2DT97_kMiBc5CxGCxCr36SjQX-DUsqZC-rGcmey0a7W88BHfZHvpNemVgZxAws',
            production: 'xxxxxxxxx'
        },

        commit: true, // Show a 'Pay Now' button

        payment: function(data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: <%= @order.total %>, currency: 'USD' }
                        }
                    ]
                }
            });
        },

        onAuthorize: function(data, actions) {
            return actions.payment.execute().then(function(payment) {
                    window.alert('Payment Complete!');
                    window.location = 'main/home';
            });
        }

    }, '#paypal-button');
</script>

<br>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %> | 
<%= link_to "Empty Cart", @order, data: { confirm: 'Are you sure?' }, method: :delete %><br>
<br>
