<div class="row">
<div class="col-md-8">
  
<h2>
  <strong><%= @product.title.upcase %></strong>
</h2>

<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @product.image_url %>
</p>

</div>

<div class="col-md-4">

<h2>
  <strong><%= @product.title.upcase %></strong>
</h2>

<p>
  <strong>Price:</strong>
  <span> $</span><%= @product.price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<hr>

<%= link_to "Write a Review", new_product_review_path(@product), class: "btn btn-primary" %></br>
<br>

<h3>REVIEWS:</h3>

<% if @reviews.blank? %>
<h3>No reviews yet. Be the first to write one!</h3>

<% else %> 
<% @reviews.each do |review| %>
  <p><strong>Rating: </strong><%= review.rating %></p>
  <p><strong>Comment: </strong><%= review.comment %></p>
  <hr>
  <% end %>
<% end %>




</div>
</div>


<br>
<br>

<%= button_to "Add to Cart", order_items_path(@product_id), class: "btn btn-primary", data: { no_turbolink: true } %>


<hr>


<h3 style="text-align: center;">COMPLETE YOUR LOOK</h3>
<div class="center">
<!--  @products.each do |product| % -->
    <%= image_tag "products/#{@product.image_url}" %>
<!--  end % -->
</div>

<hr>


<%= link_to "Write a Review", new_product_review_path(@product), class: "btn btn-primary" %>
<% @reviews.each do |review| %>
  <p><%= review.rating %></p>
  <p><%= review.comment %></p>
<% end %>


<!--  if current_user.admin? % -->
<%= link_to 'Edit', edit_product_path(@product) %> |
<!--  end % -->


<%= link_to 'Back', products_path %>
