<!DOCTYPE html>
<html>
  <head>
    <title>Bati Clothing: <%= controller.action_name %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  </head>

  <body>
      <header>
        <div class="headliner">
        <p><strong>
              Use Promo Code: 15OFF for 15% off your next purchase.
          </strong>
        </p>
        </div>
      </header>
    
  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-success">
        <%= message %>
        </div>
      <% end %>
      <% flash.clear %>
  </div>

    <div class="container1 collapse navbar-collapse">
      
      <nav>
        
        <ul class="nav navbar-nav">
          <li><%= link_to root_path do %>
         <%= image_tag "stencil.icon-2.png", class: "container1" %>
        <% end %></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><%= render :template => "search/index" %></li>
            <li><%= link_to "Contact", main_contact_path %> </li>
        <% if user_signed_in? %>
        
            <% if current_user.admin? %>
              <li><%= link_to "Products", products_path %></li>
            <% end %>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li><%= link_to "Cart", orders_path %></li>
             <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            
        <% else %> 
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
          </ul>
      </nav>
    </div>
    
    <div class="container">
      <%= yield %>
    </div>
      
<br>
<br>
<br>
<br>

      <footer class="footer">
        <nav>
          <ul>
            <div class="left">
              
           <li><%= link_to "About", main_display_path %></li>
            <li><%= link_to "Contact", main_contact_path %></li>
         </div>
            <div class="right">
            <li><%= link_to "Facebook", "https://www.facebook.com/baticlothing" %></li>
            <li><%= link_to "Twitter", "https://twitter.com/imo_clothing" %></li>
            <li><%= link_to "Instagram", "http://www.instagram.com" %></li>
            <li>&copy 2018 by Grace Saint</li>
            </div>
          </ul>
        </nav>
      </footer>
  </body>
</html>